<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273610651715-2trhr33kpnh9049r9b5ilm3aumm4fn7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273610651715-2trhr33kpnh9049r9b5ilm3aumm4fn7f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>273610651715-11sj1s1p22gfs2g227veffds2oif1mc9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk962HST11gDBMLq6HBbpJ63_lj3hKvpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>273610651715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.com.nepalipatro</string>
	<key>PROJECT_ID</key>
	<string>nepali-patro-android</string>
	<key>STORAGE_BUCKET</key>
	<string>nepali-patro-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273610651715:ios:1f0d38f013ad5df2</string>
	<key>DATABASE_URL</key>
	<string>https://nepali-patro-android.firebaseio.com</string>
</dict>
</plist>